<!doctype html>
<html lang="en">
<body>


<div class="container-fluid">

    <div class="row border">
        <div class="col">

            <table class="table table-striped caption-top"
                   data-toggle="table"
                   data-search="true"
                   data-show-columns="true"

            >
                <caption>Report Application Password Credentials @ <span class="badge text-bg-primary">{now}</span></caption>
                <thead>
                <tr class="tr-class-0">
                    <th scope="col"
                        data-field="approw">#</th>
                    <th scope="col"
                        data-field="appname"
                    >App Name</th>
                    <th scope="col">Password Credential Name</th>
                    <th scope="col">Password Credential Start date</th>
                    <th scope="col" >Password Credential End date</th>
                    <th scope="col">Expired</th>
                </tr>
                </thead>
                <tbody>
                {#for rec in records}
                <tr>
                    <th scope="row"
                    >
                        <span class="badge text-bg-{rec.expired ? 'danger' : 'primary'}">{rec_index}</span>
                    </th>

                    <td>
                        <a
                           href="https://portal.azure.com/#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Overview/appId/{rec.appId}/isMSAApp~/false">
                            <span class="badge text-bg-{rec.expired ? 'danger' : 'primary'}">{rec.appDisplayName}</span>
                        </a>
                    </td>
                    <td>
                        <span class="badge text-bg-{rec.expired ? 'danger' : 'primary'}">{rec.displayName}</span>
                    </td>
                    <td>
                        <span class="badge text-bg-{rec.expired ? 'danger' : 'primary'}">{rec.startDateTime}</span>
                    </td>
                    <td>
                        <span class="badge text-bg-{rec.expired ? 'danger' : 'primary'}">{rec.endDateTime}</span>
                    </td>
                    <td>
                        {#if rec.expired}
                            <button type="button" class="btn btn-danger">Yes</button>
                        {#else}
                        <button type="button" class="btn btn-success">No</button>
                        {/if}
                    </td>
                </tr>
                {/for}
                </tbody>
            </table>
        </div>

    </div>

</div>

</body>
</html>